absl-py
anyio
appdirs
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
attrs
Babel
beautifulsoup4
bleach
Brotli
cached-property
certifi
cffi
charset-normalizer
click
cloudpickle
comm
contourpy
cycler
debugpy
decorator
defusedxml
dm-tree
docker-pycreds
entrypoints
etils
exceptiongroup
executing
fastjsonschema
flatbuffers
fonttools
fqdn
fsspec
gast
gitdb
GitPython
google-pasta
googleapis-common-protos
grpcio
h11
h2
h5py
hpack
httpcore
httpx
hyperframe
idna
importlib_metadata
importlib_resources
ipykernel
ipython
isoduration
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
ml-dtypes
namex
nbclient
nbconvert
nbformat
nest_asyncio
notebook
notebook_shim
numpy
opt-einsum
optree
overrides
packaging
pandocfilters
parso
pexpect
pickleshare
pillow
pkgutil_resolve_name
platformdirs
prometheus_client
promise
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pycparser
Pygments
pyparsing
PySocks
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
referencing
requests
rich
rpds-py
ruff
sentry-sdk
setproctitle
setuptools
six
smmap
sniffio
soupsieve
stack-data
tensorboard
tensorboard-data-server
tensorflow
tensorflow-datasets
tensorflow-metadata
tensorflow-probability
termcolor
terminado
tf_keras
tinycss2
toml
tomli
tornado
tqdm
traitlets
types-python-dateutil
typing-utils
typing_extensions
uri-template
urllib3
wandb
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wheel
wrapt
zipp
